{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>Active Listings</h2>

    
    <div class="container">
        <div class="row">
            {% for listing in listings %}
                <div class="col-sm">
                    <div class="card my-md-3" style="width: 20rem">
                        {% if listing.image %}
                            <img class="card-img-top" src={{ listing.image }} alt="User provided image" style="width:auto; height:250px">
                        {% else %}  
                            <img class="card-img-top" src="{% static '/auctions/question_mark.png' %}" alt="Question mark" style="width:auto; height:250px">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">${{ listing.price }}</h6>
                            <p class="card-text">{{ listing.description }}</p>
                            <a href="{% url 'listing' listing.id %}" class="btn btn-primary">View Item</a>
                        </div>
                    </div>
                </div >
            {% endfor %}
        </di >
    </di >

{% endblock %}