{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ title }}</h2>

    
    <div class="container">
        <div class="row">
            {% for listing in listings %}
                <div class="col-sm">
                    <div class="card my-md-3" style="width: 20rem; height: 100%;">
                        {% if listing.image %}
                            <img class="card-img-top p-1" src={{ listing.image }} alt="User provided image" style="width:auto; height:250px">
                        {% else %}  
                            <img class="card-img-top p-1" src="{% static '/auctions/question_mark.png' %}" alt="Question mark" style="width:auto; height:250px">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ listing.title }}</h5>
                            {% if listing.current_bid %}
                                <h6 class="card-subtitle mb-2 text-muted">${{ listing.current_bid.bid }}</h6>
                            {% else %}  
                                <h6 class="card-subtitle mb-2 text-muted">${{ listing.starting_price }}</h6>
                            {% endif %}
                            <p class="card-text">{{ listing.description }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{% url 'listing' listing.id %}" class="btn btn-primary">View Item</a>
                        </div>
                    </div>
                </div >
            {% endfor %}
        </di >
    </di >

{% endblock %}