{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">{{ listing.title }}</h1>
        {% if listing.current_bid %}
            <p class="lead">$ {{ listing.current_bid.bid }}</p>
        {% else %}  
            <p class="lead">$ {{ listing.starting_price }}</p>
        {% endif %}
        <hr class="my-4">
        
        <div class="row my-5">
            <div class="col-3">
                {% if listing.image %}
                    <img class="img-fluid" src={{ listing.image }} alt="User provided image">
                {% else %}  
                    <img class="img-fluid" src="{% static '/auctions/question_mark.png' %}" alt="Question mark">
                {% endif %}
            </div>
            <div class="col-9">
                <p>{{ listing.description }}</p>
                <h6>Details:</h6>
                <ul>
                    <li>Category: {{ listing.category }}</li>
                    <li>Listed by: {{ listing.listed_by }}</li>
                    <li>Listed on: {{ listing.date }}</li>
                    <li>Starting Price: ${{ listing.starting_price }}</li>
                    <li>Current bids: {{ listing.bids_count }}</li>
                    {% if listing.current_bid %}
                        <li>Last bid: {{ listing.current_bid.bidded_by }} on {{ listing.current_bid.date }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
     
        {% if user.is_authenticated %}
            {% if listing.is_active %}
                <div class="row my-2">
                    <div class="col-6">
                        {% if request.user == listing.listed_by %}
                            <form action="{% url 'close' listing.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Close Auction" class="btn btn-primary">
                            </form>
                        {% else %}
                            <form class="row" action="{% url 'listing' listing.id %}" method="post">
                                {% csrf_token %}
                                <div class="col-8">
                                    {{ bid_form }}
                                </div>
                                <div class="col-4">
                                    <input type="submit" value="Place Bid" class="btn btn-primary">
                                </div>
                            </form> 
                        {% endif %}
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        {% if watchlisted %}
                            <form action="{% url 'unwatch' listing.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Remove from Watchlist" class="btn btn-primary">
                            </form>
                        {% else %}
                            <form action="{% url 'watch' listing.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Add to Watchlist" class="btn btn-primary">
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
            
            <!-- Messages -->
            {% if bid_status == 'success' %}
                <div class="alert alert-success my-2" role="alert">
                    Hooray! Your bid was placed successfully!
                </div>
            {% endif %}
            
            {% if bid_status == 'fail' %}
                <div class="alert alert-danger my-2" role="alert">
                    ERROR: Your bid is too low!
                </div>
            {% endif %} 
            
            {% if listing.winner == request.user %}
                <div class="alert alert-success my-2" role="alert">
                    Congrats! Your bid was the highest and you won this auction!
                </div>
            {% endif %}

            {% if listing.is_active == False %}
                <div class="alert alert-secondary my-2" role="alert">
                    This auction is no longer active
                </div>
            {% endif %}

            <hr class="my-4">
            <form action="{% url 'comment' listing.id %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ comment_form }}
                </div>
                <div class="d-flex justify-content-end">
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div> 
            </form>

        {% endif %}
        
        {% for comment in comments %}
            <div class="card my-4">
                <div class="card-header">
                    {{ comment.commented_by }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ comment.comment }}</p>
                    <p><small>{{ comment.date }}</small></p>
                </div>
            </div>
        {% endfor %}
            
    </div>
{% endblock %}